.create_note_text,
.create_note_title {
	padding: 0.25rem 1rem;

	&,
	&::placeholder {
		font-size: 1.25rem;
		font-weight: 500;
		color: #000;
		padding: none;
	}

	&:focus {
		outline: none;
	}
}

.create_note_text {
	width: calc(100% - 1rem);
	resize: none;
	height: fit-content;
	overflow: auto;
}
.create_note_title {
	width: calc(100% - 1rem);
	height: 40px;
	font-size: 2rem;
	&::placeholder {
		font-size: 2rem;
		font-weight: 600;
	}
}

.add_button {
	width: 100%;
	position: fixed;
	bottom: 0rem;
	right: 0rem;
	padding-bottom: 1rem;
	background-color: #fff;
	margin-top: 2rem;
}

.back_button {
	width: fit-content;
	padding: 0.5rem 1rem;
	height: fit-content;

	font-size: 1rem;
	margin-bottom: 1rem;

	background-color: var(--primary);
}
.add_note_page {
	overflow: hidden;
}

.modal_window_content {
	margin-top: 2rem;
	display: flex;
	flex-direction: row-reverse;
	gap: 1rem;
	& button {
		width: 5rem;
	}
}

.add_note_modal_leave_button {
	background-color: #f70000;
	&:hover {
		background-color: #fa3e3e;
	}
	&:active {
		background-color: #c70000;
	}
}
