.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& a {
		color: #6b3780;
	}
	& a:hover,
	.active {
		color: #000;
	}
}
.header_title {
	display: inline-block;
}
.header_layout {
	background-color: #b883ff;
}
