.header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	& a {
		color: #6b3780;
	}
	& a:hover,
	.active {
		color: #000;
	}
}
.header_title {
	display: inline-block;
	color: #fff;
}
.header_layout {
	background-color: var(--primary);
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
	filter: drop-shadow(0 0rem 1rem #ffffff);
}
